.landingFace {
  color: white;
  height: 100vh;
  text-align: center;
  position: relative;
  text-align: center;
  .cP{
    height: 100vh;
  }
  .rent, .sell{
    height: 100vh;
    position: relative;
    button {
        position: absolute;
        bottom: 8vh;
        right: 7vw;
        
        
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          background-image: linear-gradient(to right, #1d8a33 0%, rgb(10, 106, 32) 100%);
        font-size: 0.9em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
border: none;
padding: 0.5em 1em;
color: white;
border-radius: 20px;
      }
  }
  .pic{
    object-fit: cover;
  }
  h1, span, h2{
    position: relative;
    padding: 0 2em;
  }
  h1 {
    font-size: 1.5em;
    margin-top: 28vh;
    margin-bottom: 3vh;
  }
  span {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1em;
    margin-top: 13vh;
  }
}
.chooseEv {
  h2{
    margin-top: 5vh;
  }
  text-align: center;
  .bikeOrScooty{
    display: flex;
    justify-content: space-evenly;
  }
  .chooseEvCard {
    padding-bottom: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
    .imgHolder {
      position: relative;
      width: 44vw;
      height: 44vw;
      margin: 1.2vh 0;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 16px 0px;
      border-radius: 15px;
      overflow: hidden;
    }
    .titleButton{
      Button{
        font-size: 0.8em;
        padding: 0.5em 2em;
        min-width:25vw;
        // font-size: 1em;
        background-image: linear-gradient(to right, #525252 0%, rgb(19, 19, 19) 100%);
      }
      .bike{
        background-image: linear-gradient(to left, #525252 0%, rgb(19, 19, 19) 100%);
      }
    }
    .viewMore{
      display: flex;
      justify-content: flex-end;
      Button{
        font-size: 0.55em;
        background-color: #36be47;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }
}
.scooter, .bike{
  h2{
    font-size: 1.2em;
  }
  .ranges{
    .slider{
    }
    padding: 0 8vw;
  }
  .scooterCard,.bikeCard{
    display: flex;
    padding: 3em 1em;
    .even,.odd{
      // background-color: coral;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .even{
      text-align: start;
    }
    .odd{
      // p{
        text-align: end;
      // }
    }
    article{
      padding: 0 4vw;
      Button{
        font-size: 0.7em;
        font-weight: bold;
      }
    }
    .imgContainer{

    }
    .imgHolder{
      position: relative;
      min-height: min(45vw, 90vh);
      min-width: min(45vw, 90vh);
      overflow: hidden;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 16px 0px;
      border-radius: 15px;
    }
  }
}
.popUp{
  background-color: green;
  .inputs{
    background-color: red;
    width: 90vw;
    padding: 2em 2em;
  }
}
// height: 60vw;
// p{
  // display: -webkit-box;
  // overflow: hidden;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 15;
// }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landingFace {
    h1, span, h2{
      padding: 0 8em;
    }
  }
  .chooseEv{
    .bikeOrScooty{
      display: flex;
      justify-content: space-evenly;
    }
    .chooseEvCard{
      .imgHolder{
      width: 35vw;
      height: 35vw;
      }
    }
  }
  .scooter, .bike{
    .ranges{
      .slider{
        width: 40vw;
      }
      padding: 0 8vw;
    }
    .imgContainer{
    }
    .imgHolder{
      // min-height: min(25vw, 90vh);
      min-height: 35vw !important;
      min-width: 35vw !important;
      // min-width: min(25vw, 90vh);
    }
  }
}
.popUp{
  // background-color: pink;
  h1{
    font-size: 1.2em;
    color: #525252;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landingFace {
    h1, span, h2{
      padding: 0 10em;
    }
  }
  .scooter, .bike{
    .imgHolder{
      min-height: 25vw !important;
      min-width: 25vw !important;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .landingFace {
    h1, span, h2{
      padding: 0 13em;
    }
  }

}